@import "./../scss/variable";
@import "./../scss/mixin";

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.p-progress-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    height: 100vh;
    text-align: center;
    //color: $white;
    background-image: url($background-create-page);
    background-size: cover;

    .container-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .wrapper {
            height: 55rem;
            width: 60rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid $main-color;
            border-right: 1px solid $main-color;
            border-radius: 1rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%);
            color: $white;

            @include mobile {
                width: 35rem;
                height: 45rem;
            }

            @include portraitMobile {
                width: 30rem;
            }


            @include smalltablet {
                width: 45rem;
                height: 50rem;
            }

            .guildline-text {
                width: 100%;
                margin: 4rem 0 2rem 0;

                @include mobile {
                    margin: 2rem 0 1rem 0;

                    @include portraitMobile {
                        margin: 1rem 0 1rem 0;
                    }
                }

                @include smalltablet {
                    margin: 3rem 0 2rem 0;
                }

                h3 {
                    font-size: 2.5rem;

                    @include mobile {
                        font-size: 2rem;

                        @include portraitMobile {
                            font-size: 1.8rem;
                        }
                    }
                }
            }

            %form-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 35rem;
                font-size: 1.8rem;
                margin-bottom: 1rem;

                @include mobile {
                    width: 32rem;
                    font-size: 1.6rem;

                    @include portraitMobile {
                        width: 29rem;
                        font-size: 1.4rem;
                    }
                }
            }

            .name-input {
                @extend %form-container;

                .input-container {
                    .p-inputtext {
                        height: 4rem;
                        width: 27rem;
                        border-radius: 6px;
                        font-size: 1.5rem;
                        border: none;
                        padding: 0px 10px;
                        border-bottom: 1px solid $main-color;
                        border-left: 1px solid $main-color;
                        color: $white;
                        background: linear-gradient(to top, rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%);

                        @include mobile {
                            width: 25rem;
                            font-size: 1.4rem;
                            background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%);

                            @include portraitMobile {
                                width: 23rem;
                            }
                        }
                    }

                    .p-invalid.p-inputtext {
                        border: 1px solid #eb1212;
                        border-radius: 6px;
                    }

                    .p-filled.p-inputtext.p-invalid {
                        border-bottom: 1px solid $main-color;
                        border-left: 1px solid $main-color;
                        border-top: none;
                        border-right: none;
                        border-radius: 6px;
                    }
                }
            }

            .sector-container {
                @extend %form-container;

                align-items: left;

                .select-manufactor {
                    .p-treeselect {
                        height: 4rem;
                        width: 27rem;
                        font-size: 1.5rem;
                        color: $white;
                        text-align: left;
                        border: none;
                        border-bottom: 1px solid $main-color;
                        border-left: 1px solid $main-color;
                        background: linear-gradient(to top, rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%);

                        @include mobile {
                            width: 25rem;
                            font-size: 1.4rem;
                            background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%);

                            @include portraitMobile {
                                width: 23rem;
                            }
                        }
                    }

                    .p-invalid.p-treeselect {
                        border: 1px solid #eb1212;
                        border-radius: 6px;
                    }

                    .p-treeselect.p-inputwrapper-filled.p-invalid {
                        border-bottom: 1px solid $main-color;
                        border-left: 1px solid $main-color;
                        border-top: none;
                        border-right: none;
                        border-radius: 6px;
                    }
                }
            }

            .confirm-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 4rem;
                margin: 2rem 0 2rem 0;

                .p-checkbox {
                    .p-checkbox-box.p-highlight {
                        background: rgba(255, 166, 0, 0.815);
                        border-color: #553f07;
                    }
                }

                .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight {
                    &:hover {
                        background: rgba(255, 166, 0, 0.815);
                        border-color: #553f07;
                    }
                }

                label {
                    margin-left: 2rem;
                    font-size: 1.5rem;

                    @include mobile {

                        font-size: 1.4rem;

                    }
                }
            }

            .button-save {
                margin-top: 3rem;
                width: 100%;
                height: 3.5rem;
                position: relative;

                button {
                    width: 50%;
                    height: 100%;
                    background-color: $main-color;
                    border-radius: 6px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    border: none;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);

                    @include mobile {
                        font-size: 1.4rem;
                    }

                    &:hover {
                        border: 1px solid $white;
                    }

                }
            }
        }
    }


}