$body-main-bg: #D8EDFF;
$main-color: orange;
$white: #ffffff;
$full-wh: 100%;
$background-create-page: "https://cdn.wallpapersafari.com/88/8/xhVAcT.jpg";
$background-info-page: "https://wallpaperaccess.com/full/1219598.jpg";